{% extends 'layoutAdmin.html.twig' %}
{% block title %}Edit Presence{% endblock %}
{% block body %}
    <h1>Présences</h1>
    <a href="{{ path('presence_index') }}">retour à la liste</a>
    {{ include('presence/_delete_form.html.twig') }}
{% endblock %}
