{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="form-login container-fluid">
        <form class="d-flex justify-content-center" method="post">
            <div class="col-sm-offset-2 col-md-offset-3 col-xs-6 col-sm-8 col-md-4">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h1 class="h1-login h1 font-weight-bold">Hello wilder !</h1>
                <h4 class="h4-login">par <a class="a-login" target="_blank" href="https://odyssey.wildcodeschool.com/?locale=fr">wildcodeschool.com</a>
                </h4>
                <p>L'avenir appartient au wilder qui pointe tôt <i class="far fa-smile"></i></p>
                <div class="form-group">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                           placeholder="Username" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="Password"
                           required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="form-group">
                    <button class="btn btn-login btn-lg btn-block" type="submit">
                        Connexion
                    </button>
                </div>
                <div class="checkbox mb-3">
                    <label for="remember_me">
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>

                <div class="justify-content-right">
                    <a class="a-login" href="#">Tu as oublié ton mot de passe ?</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


