{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}
    <body class="body-reset">
    <div class="container d-flex justify-content-center">
        <div class="reset col-sm-offset-1 col-md-offset-3 col-xs-8 col-sm-8 col-md-6">
            <form method="post">
                <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe</h1>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="Mot de passe"
                           required>
                </div>
                <input type="hidden" name="token" value="{{ token }}">
                <div class="form-group">
                    <button class="btn btn-reset btn-lg btn-light" type="submit">
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
    </body>
{% endblock %}