{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-sm-offset-1 col-md-offset-3 col-xs-8 col-sm-10 col-md-8">
            <h1>Crée ton profil</h1>

            {{ include('student/_form.html.twig') }}
            <a href="{{ path('student_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
