@import "vars";

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


body {
  background-color: white;
  font-family:'Varela Round', sans-serif;

}


h1{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn{
  border-color: white;
  color: black;
  text-decoration: none;
  background-color: #faa5a5;
  padding-left: 50%;
  padding-right: 44%;

}

th{
  border: solid 1px white;
  border-radius: 5%;
}

td{
  border: solid 1px white;
  border-radius: 5%;

}


tr{
  background-color: #f3f3f3;
  border-radius: 50%;
}