$primary-color: #f76c6c;
$secondary-color: #f99797;
$warm-color: #ffd64f;
$wild-color: #ff4b4b;
$footer-color: grey;
$heart-color: #fc3e39;
$link-color: #009eff;
$background-color : #ffffff;
$black-color : #000000;
$btn-mes-informations:#faa5a5;
$btn-border-mes-informations:#FFFFFF;
$tr-mes-informations:#f3f3f3;
$th-border-mes-informations:#FFFFFF;
$td-border-mes-informations:#FFFFFF;
