$primary-color: #f76c6c;
$secondary-color: #f3f3f3;
$warm-color: #ffd64f;
$background-color : #ffffff;
$wild-color: #ff4b4b;
$wild-text-color:grey;
$heart-color: #fc3e39;
$link-color: #009eff;
$background-color : #ffffff;
$title-color: #000000;
$boder-color: #e7e4e4;
$font-family: "Arial, Helvetica, sans-serif";
$wild-font: "Raleway", sans-serif;
$nav-font-color: #3B424E;