$primary-color: #f76c6c;
$secondary-color: #f99797;
$warm-color: #ffd64f;
<<<<<<<<< Temporary merge branch 1
$background-color : #ffffff;
=========
$wild-color: #ff4b4b;
$footer-color: grey;
$heart-color: #fc3e39;
>>>>>>>>> Temporary merge branch 2
