@import "vars";
@import '~bootstrap/scss/bootstrap';
// the ~ allows you to reference things in node_modules

/*-------ALL SITE-------*/
P, a, input, label, h1, td, tr {
  font-family: $font-family;
}

/*-------end ALL SITE-------*/

/*-------NAVBAR-------*/
.navbar {
  background-color: rgba($background-color, 0.8);
  border: solid 0.1px $border-color;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.navbutton {
  font-size: 1.2em;
}

.nav-item {
  font-size: 16px;
  margin: 8px;
  font-family: $font-family;
}

.navbar-nav .nav-item .nav-link {
  color: $nav-font-color;
}

.navbar-nav .nav-item .nav-link:hover {
  color: $wild-color;
}

.navbar-toggler {
  text-decoration: none;
  color: $title-color;
}

.navbar-nav {
  margin-left: 60%;
}

/*------------navbar_animation--------------*/

.nav-item {
  position: relative;
}

.nav-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: $link-color;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav-item:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/*------- end NAVBAR-------*/

/*-------footer-------*/
footer {
  color: $wild-text-color;
  box-sizing: inherit;
  font-size: $size-footer;
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;

  .container-fluid {
    p {
      margin-left: 1em;
    }
  }
}

.a-footer {
  color: $wild-text-color;
}

.a-footer.hover {
  color: $wild-text-color;
  position: static;
  text-decoration: underline;
}

.heart {
  color: $heart-color;
}

.footer{
  background-color: rgba($background-color, 0.8);
  padding-top: 1em;
}

.footerText{
  margin-bottom: 0;
  padding-bottom: 1.5em;
  padding-top: 1em;
}

/*-------fin du footer-------*/

/*-------Profile form-------*/

/*------- fix - register -------*/
.register-container {
  background-image: url('../images/wild-code-school-la-loupe-115.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1%;
}

/*-------end -fix - register -------*/

/*-------edit-form -------*/

.edit-form {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1%;
}

.body-new {
  background-image: url('../images/you-x-ventures-1437336-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.b-container {
  padding-top: 1%;
  font-size: 20px;
  padding-bottom: 5%;
  color: $title-color;
}

.form-control {
  border: 1px solid rgba($title-color, 0.5);
}

.form-inline .form-control {
  margin-right: 0.5%;
}

.body-edit {
  background-image: url('../images/you-x-ventures-1437336-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-modification {
  max-width: 100%;
  max-height: 100%;
}

.container-opacity {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: $background-color;
  opacity: 0.7;
  border-radius: 1%;
  padding: 5%;
}

.h1-edit {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 1%;
  font-size: 2.5em;
  color: $title-color;
}

/*-------end edit-form -------*/
.td-mes-informations {
  border: solid 1px $background-color;
  border-radius: 5%;
}

.btn-student {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;

}

.btn-info {
  border-color: $background-color;
  text-decoration: none;
  background-color: $background-color;
  padding-left: 50%;
  padding-right: 44%;
}

/*-------modification -------*/

.h1-modification {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  font-size: 3em;
  font-family: $font-family;
  color: $title-color;
}

.modificationsForm {
  max-width: 60em;
  margin-top: 2em;
  margin-left: 25em;
  margin-bottom: 2em;
  text-align: center;
  color: $title-color;
  background-color: rgba($background-color, 0.5);
  padding: 2em 4em;
  border-radius: 8px;
}

.btn-modification {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
  font-size: 1.5em;
  padding: 0.5em;
  margin-top: 1em;
  border-radius: 8px;
  border-color: transparent;
  max-width: 50%;
}

.btn-modification:hover {
  background-color: $background-color;
  color: $wild-color;
  font-family: $font-family;
  font-size: 1.5em;
  padding: 0.5em;
  margin-top: 1em;
  margin-left: 2em;
  border-radius: 8px;
  border-color: transparent;
  max-width: 50%;
}

/*------- end modification -------*/


/*-------edit-------*/
.a-edit {
  color: $warm-color;
}

/*------- end edit-------*/

/*-----base-----*/
.button {
  margin-top: 2em;
}

.containercheckindate {
  background-image: url('../images/wild-code-school-la-loupe-116.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: contrast(50%);
}

.body-checkin {
  max-width: 60em;
  margin-top: 1em;
  margin-left: 25em;
  margin-bottom: 1em;
  text-align: center;
  color: $primary-color;
  background-color: rgba($background-color, 0.5);
  padding: 1em 3em;
  border-radius: 8px;
}

.a-checkin {
  color: $primary-color;
}

a:hover, a:focus {
  color: $primary-color;
}

.td-mes-informations {
  border: solid 1px $background-color;
  border-radius: 5%;
}

.intro {
  margin-bottom: 0.85em;
  border-radius: 0.25rem;
  padding: 1.25rem;
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  color: $primary-color;
}

/*------- end base -------*/
/* -------Piece positions-------*/
.top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
  border-radius: 0;
}

.bottom {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/*-------end Piece positions-------*/
/* -------Piece categories ------- */
.day, .year {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: $title-color;
  text-align: center;
  font-family: $font-family;
}

.month {
  padding-top: 1em;
  padding-bottom: 0;
  letter-spacing: 0.35em;
  font-size: 2em;
  font-weight: 500;
  color: $title-color;
  text-align: center;
  font-family: $font-family;
  text-transform: uppercase;
}

.date {
  padding-bottom: 0.5em;
  letter-spacing: 0.35em;
  padding-top: 0;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: $title-color;
  text-align: center;
  font-family: $font-family;
}

/*------- end piece categories -------*/
/*-------hour-------*/
.hour {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  color: $secondary-color;
  font-family: $font-family;
  background-color: $wild-color;
  border-radius: 4px;
}

/*------- end hour -------*/

/*-------login-------*/
.btn-login {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
  opacity: 1;
}

.h1-login {
  font-family: $font-family;
  color: $title-color;
}

.p-login {
  font-family: $font-family;
  color: $title-color;
}

.h4-login {
  font-family: $font-family;
  color: $title-color;
}

.form-login {
  background-image: url('../images/wild-code-school-la-loupe-49.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 6em;
}

.container-p {
  margin-top: 9%;
  margin-bottom: 9%;
  background-color: $background-color;
  opacity: 0.8;
  border-radius: 1%;
  padding: 2em 10%;
}

/*------- end login -------*/

/*-------------btn animation-----------*/

.btn-container {
  margin-top: -15%;
  margin-left: 70%;
  justify-content: center;
  align-items: center;
  background: $wild-color;
  position: relative;
  width: 100px;
  display: flex;
  border: none;
  border-radius: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 100px;
}

.text {
  text-align: center;
  color: white;
  position: absolute;
  transition: opacity 300ms;
  user-select: none;
  -moz-user-select: none;
  top: 35px;
}

.fingerprint {
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  stroke: #777;
  top: 1px;
  transition: opacity 1ms;
  left: 1px;
}

.fingerprint-active {
  stroke: #fff;
}

.fingerprint-out {
  opacity: 1;
}

.odd {
  stroke-dasharray: 0 50px;
  stroke-dashoffset: 1px;
  transition: stroke-dasharray 1ms;
}

.even {
  stroke-dasharray: 50px 50px;
  stroke-dashoffset: -41px;
  transition: stroke-dashoffset 1ms;
}

.ok {
  opacity: 0;
}

.active.container {
  animation: 3s Container;
}

.active .text {
  opacity: 0;
  animation: 3s Text forwards;
}

.active .fingerprint {
  opacity: 1;
  transition: opacity 150ms 100ms;
}

.active .fingerprint-base .odd {
  stroke-dasharray: 50px 50px;
  transition: stroke-dasharray 400ms 50ms;
}

.active .fingerprint-base .even {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 400ms;
}

.active .fingerprint-active .odd {
  stroke-dasharray: 50px 50px;
  transition: stroke-dasharray 1000ms 750ms;
}

.active .fingerprint-active .even {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1000ms 650ms;
}

.active .fingerprint-out {
  opacity: 0;
  transition: opacity 150ms 2050ms;
}

.active .ok {
  opacity: 1;
  animation: 3s Ok forwards;
}

@keyframes Text {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  6% {
    opacity: 0;
    transform: scale(0.5);
  }

  94% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Ok {
  0% {
    opacity: 0
  }
  70% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 1;
    transform: scale(1.1);
  }
  77% {
    opacity: 1;
    transform: scale(1);
  }
  92% {
    opacity: 1;
    transform: scale(1);
  }
  96% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 0
  }
}

/*-----------end animation------------*/

/*----------checkin button---------------*/
.btn-checkin {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
  font-size: 1.5em;
  padding: 0.5em 3em;
  margin-top: 1em;
}

.btn-checkin:hover {
  background-color: $background-color;
  color: $wild-color;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary {
  border-color: $primary-color;
  background-color: $primary-color;
  font-family: $font-family;
}

.message {
  background-color: rgba($border-color, 0);
  color: $title-color;
  margin-top: 1em;
  border: none;
  font-size: 1.1em;
}

/*----------end checkin button---------------*/

/*-------signup-------*/
.h1-signup {
  color: $title-color;
  text-align: center;
  margin-bottom: 50px;
  font-family: $font-family;
}

.btn-signup {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
  max-width: 30%;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
}

/*-------end signup-------*/

/*---------dash board-------*/

.containerDashboardForm {
  background-image: url('../images/wild-code-school-la-loupe-116.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: contrast(50%);
}

.dashboardTitle {
  text-align: center;
  font-family: $font-family;
  font-size: 4em;
  padding-top: 1em;
  margin-bottom: 1em;
  color: $title-color;
  font-weight: 500;
}

.dashboardFormStudent {
  margin-left: 5.5em;
  padding-bottom: 2em;
}

.dashboardTable {
  max-width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  color: $title-color;
  background-color: rgba($background-color, 0.5);
  padding: 2em 4em;
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-family: $font-family;
}

.dashboardLine thead th {
  border: none;
}

.table thead th {
  border-top: none;
}

.btnDashboardShow {
  background-color: $wild-color;
  padding: 0.6em 2em;
  border-radius: 4%;
  color: $title-color;
  margin-right: 5em;
}

.btnDashboardShow:hover {
  color: $title-color;
  background-color: $background-color;
  text-decoration: none;
}

.btnDashboardEdit {
  background-color: $wild-color;
  border-radius: 4%;
  padding: 0.6em 0.9em;
  color: $title-color;
}

.btnDashboardEdit:hover {
  color: $title-color;
  background-color: $background-color;
  text-decoration: none;
}

.btnDashboardNew {
  background-color: $wild-color;
  padding: 0.6em 0.9em;
  color: $title-color;
  margin-bottom: 2em;
  border-color: transparent;
}

.btnDashboardNew:hover {
  color: $title-color;
  background-color: $background-color;
  text-decoration: none;
}

.btnDashBoardDelete {
  background-color: $background-color;
  border-radius: 4%;
  padding: 0.6em 0.9em;
  color: $title-color;
  margin-left: 1em;
}

.btnDashBoardDelete:hover {
  color: $title-color;
  background-color: $wild-color;
  text-decoration: none;
}

/*---------end dash board---------*/

/*----------flash message------*/

.alert-success {
  background-color: $cellule-background-color;
  color: $succes-message;
  font-family: $font-family;
  text-align: center;
  font-size: 1.5em;
  max-width: 60em;
  margin: 1em 25.8% 1em 22.5%;
}

.alert-danger {
  background-color: $cellule-background-color;
  color: $wild-color;
  font-family: $wild-font;
  text-align: center;
  font-size: 1.5em;
  max-width: 60em;
  margin: 1em 25.8% 1em 22.5%;
}

/*--------------end flash message------------*/

/*------------student show ---------------*/

.body-show {
  background-image: url('../images/wild-code-school-la-loupe-116.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.titleStudentShow {
  text-align: center;
  font-family: $font-family;
  font-size: 4em;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  color: $title-color;
  font-weight: 500;
}

.studentShowTable {
  max-width: 70%;
  margin-top: 2em;
  margin-left: 12em;
  margin-bottom: 2em;
  color: $title-color;
  background-color: rgba($background-color, 0.5);
  padding: 2em;
  border-radius: 8px;
  border-style: hidden;
  font-size: 1.5em;
  font-family: $font-family;
}

.btnStudentShow {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
  font-size: 1.5em;
  padding: 0.5em 2em;
  margin-top: 2em;
  border: transparent;
  margin-left: 35em;
  border-radius: 5px;
}

.btnStudentShow2 {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
  font-size: 1.5em;
  padding: 0.5em 2em;
  margin-top: 2em;
  border: transparent;
  margin-left: 30em;
  margin-bottom: 2em;
  border-radius: 5px;
}

.btnStudentShow:hover, .btnStudentShow2:hover {
  color: $wild-color;
  background-color: $background-color;
  text-decoration: none;
}

/*---------end student show-------------*/

/*----------forgotten password------------*/

.body-forgotten {
  background-image: url("../images/wild-code-school-la-loupe-116.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.forgotten {
  margin: 15em;
  background-color: $background-color;
  opacity: 0.7;
  border-radius: 1%;
  padding: 3%;
}

/*reset password*/
.body-reset {
  background-image: url("../images/wild-code-school-la-loupe-116.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.reset {
  margin: 25%;
  background-color: $background-color;
  opacity: 0.7;
  border-radius: 1%;
  padding: 3%;
}
