@import "vars";
@import '~bootstrap/scss/bootstrap';
// the ~ allows you to reference things in node_modules

/*-------ALL SITE-------*/
P,a,input,label,h1,td,tr{
  font-family: $font-family;
}

/*-------end ALL SITE-------*/

/*-------NAVBAR-------*/
.navbar {
  background-color: $background-color;
  margin-bottom: 2em;
  border: solid 0.1px $border-color;
}

.nav-item {
  font-size: 16px;
  margin: 8px;
  font-family: $font-family;
}

.navbar-nav .nav-item .nav-link {
  color: $nav-font-color;
}

.navbar-nav .nav-item .nav-link:hover {
  color: $wild-color;
}

.navbar-toggler {
  text-decoration: none;
  color: $title-color;
}

.navbar-nav {
  margin-left: 60%;
}

/*------- end NAVBAR-------*/

/*-------footer-------*/
footer {
  color: $wild-text-color;
  padding: 1em;
  box-sizing: inherit;
  margin-top: 20%;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: relative;

}

.a-footer {
  color: $wild-text-color;
}

.a-footer.hover {
  color: $wild-text-color;
  position: static;
  text-decoration: underline;
}

.heart {
  color: $heart-color;
}

/*-------fin du footer-------*/

/*-------Profile form-------*/
.h1-mes-informations {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.td-mes-informations {
  border: solid 1px $background-color;
  border-radius: 5%;
}

.btn-student{
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;

}

.btn-info {
  border-color: $background-color;
  text-decoration: none;
  background-color: $background-color;
  padding-left: 50%;
  padding-right: 44%;
}

.tr-mes-informations {
  background-color: $wild-text-color;
  border-radius: 50%;
  padding: 1.6rem;
  font-size: 1.25em;
  text-align: center;
  background: $cellule-background-color;
}

.th-mes-informations {
  border: solid 1px $background-color;
  border-radius: 5%;
}


/*-------modification -------*/

.h1-modification{
  padding-bottom: 5%;
}

/*------- end modification -------*/



/*-------edit-------*/
.a-edit {
  color: $warm-color;
}

/*------- end edit-------*/

/* -------Base-------*/
.body-checkin {
  max-width: 70em;
  margin: 2em;
  padding: 1.25em;
  text-align: center;
  color: $primary-color;
}

.a-checkin {
  color: $primary-color;
}

a:hover, a:focus {
  color: $primary-color;
}

.td-mes-informations {
  border: solid 1px $background-color;
  border-radius: 5%;
}

.intro {
  margin-bottom: 0.85em;
  border-radius: 0.25rem;
  padding: 1.25rem;
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  color: $primary-color;
}

/*------- end base -------*/

/* -------Piece positions-------*/
.top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
  border-radius: 0;
}

.bottom {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/*-------end Piece positions-------*/

/* -------Piece categories ------- */
.day, .year {
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: $background-color;
  background: $wild-color;
  text-align: center;
  font-family: $font-family;
}

.month {
  padding-top: 1.75rem;
  padding-bottom: 0;
  font-size: 3em;
  font-weight: 200;
  color: $wild-color;
  text-align: center;
  font-family: $font-family;
}

.date {
  padding-top: 0;
  padding-bottom: 1.75rem;
  font-size: 3em;
  font-weight: 100;
  color: $wild-color;
  text-align: center;
  font-family: $font-family;
}

/*------- end piece categories -------*/

/*-------hour-------*/
.hour {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  color: $title-color;
  background-color: $background-color;
  font-family: $font-family;
}

/*------- end hour -------*/

/*-------login-------*/
.btn-login {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
}

.h1-login{
  font-family: $font-family;
}

.h4-login{
  font-family: $font-family;
}

/*------- end login -------*/

/*----------checkin button---------------*/
.btn-checkin {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary {
  border-color: $primary-color;
  background-color: $primary-color;
  font-family: $font-family;
}

.message{

  background-color: $border-color;
  color: $title-color;
  margin-top: 5%;
}

/*----------end checkin button---------------*/

/*-------signup-------*/
.h1-signup {
  color: $title-color;
  text-align: center;
  margin-bottom: 50px;
  font-family: $font-family;
}

.btn-signup {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
}

/*-------fin du signup-------*/


