@import "vars";
@import '~bootstrap/scss/bootstrap';
// the ~ allows you to reference things in node_modules

/*-------ALL SITE-------*/
P, a, input, label, h1, td, tr {
  font-family: $font-family;
}

/*-------end ALL SITE-------*/

/*-------NAVBAR-------*/
.navbar {
  display: flex;
  background-color: $background-color;
  border: solid 0.1px $border-color;
}

.navbutton {
  font-size: 1.2em;
}

.nav-item {
  font-size: 16px;
  margin: 8px;
  font-family: $font-family;
}

.navbar-nav .nav-item .nav-link {
  color: $nav-font-color;
}

.navbar-nav .nav-item .nav-link:hover {
  color: $wild-color;
}

.navbar-toggler {
  text-decoration: none;
  color: $title-color;
}

.navbar-nav {
  margin-left: 60%;
}

  /*navbar_animation*/

  .nav-item {
    position: relative;
  }

  .nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $link-color;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  .nav-item:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

/*------- end NAVBAR-------*/

/*-------footer-------*/
footer {
  color: $wild-text-color;
  padding: 1em;
  box-sizing: inherit;
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;

  .container-fluid{
    p {
      margin-left: 1em;
    }
  }
}

.a-footer {
  color: $wild-text-color;
}

.a-footer.hover {
  color: $wild-text-color;
  position: static;
  text-decoration: underline;
}

.heart {
  color: $heart-color;
}

/*-------fin du footer-------*/

/*-------Profile form-------*/

/*------- fix - register -------*/
.register-container{
  background-image: url('../images/wild-code-school-la-loupe-115.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1%;
  margin-top: 6%;
  margin-bottom: 6%;
}
/*-------end -fix - register -------*/

/*-------edit-form -------*/

.edit-form {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1%;
}

.b-container {
  background-image: url('../images/you-x-ventures-1437336-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1%;
  font-size: 20px;
  padding-bottom: 5%;
}

.form-control {
  border: 1px solid $heart-color;
  box-shadow: $heart-color;
}

.form-inline .form-control {
  margin-right: 0.5%;
}

.container-modification {
  background-image: url('../images/testLum72.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1%;
}

.container-opacity {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: $background-color;
  opacity: 0.9;
  border-radius: 1%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.h1-edit {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 1%;
  font-size: 45px;
}

/*-------end edit-form -------*/


.h1-mes-informations {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.td-mes-informations {
  border: solid 1px $background-color;
  border-radius: 5%;
}

.btn-student {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;

}

.btn-info {
  border-color: $background-color;
  text-decoration: none;
  background-color: $background-color;
  padding-left: 50%;
  padding-right: 44%;
}

.tr-mes-informations {
  background-color: $wild-text-color;
  border-radius: 50%;
  padding: 1.6rem;
  font-size: 1.25em;
  text-align: center;
  background: $cellule-background-color;
}

.th-mes-informations {
  border: solid 1px $background-color;
  border-radius: 5%;
}


/*-------modification -------*/

.h1-modification {
  padding-bottom: 5%;
}

/*------- end modification -------*/


/*-------edit-------*/
.a-edit {
  color: $warm-color;
}

/*------- end edit-------*/

/* -------Base-------*/

.button {
  margin-top: 2em;
}

.containercheckindate {

  background-image: url('../images/wild-code-school-la-loupe-116.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: contrast(50%);
}

.body-checkin {
  max-width: 60em;
  margin-top: 2em;
  margin-left: 25em;
  margin-bottom: 2em;
  text-align: center;
  color: $primary-color;
  background-color: rgba($background-color, 0.5);
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 2em;
  padding-top: 2em;
  border-radius: 8px;
}

.a-checkin {
  color: $primary-color;
}

a:hover, a:focus {
  color: $primary-color;
}

.td-mes-informations {
  border: solid 1px $background-color;
  border-radius: 5%;
}

.intro {
  margin-bottom: 0.85em;
  border-radius: 0.25rem;
  padding: 1.25rem;
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  color: $primary-color;
}

/*------- end base -------*/

/* -------Piece positions-------*/
.top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
  border-radius: 0;
}

.bottom {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/*-------end Piece positions-------*/

/* -------Piece categories ------- */
.day, .year {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: $title-color;
  text-align: center;
  font-family: $font-family;
}

.month {
  padding-top: 1em;
  padding-bottom: 0;
  letter-spacing: 0.35em;
  font-size: 2em;
  font-weight: 500;
  color: $title-color;
  text-align: center;
  font-family: $font-family;
  text-transform: uppercase;
}

.date {
  padding-bottom: 1em;
  letter-spacing: 0.35em;
  padding-top: 0;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: $title-color;
  text-align: center;
  font-family: $font-family;
}

/*------- end piece categories -------*/

/*-------hour-------*/

.hour {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  color: $secondary-color;
  font-family: $font-family;
  background-color: $wild-color;
  border-radius: 4px;
}

/*------- end hour -------*/

/*-------login-------*/
.btn-login {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
  opacity: 1;
}

.h1-login {
  font-family: $font-family;
  color: $title-color;
}

.p-login {
  font-family: $font-family;
  color: $title-color;
}

.h4-login {
  font-family: $font-family;
  color: $title-color;
}

.form-login {
  background-image: url('../images/wild-code-school-la-loupe-49.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.container-p {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: $background-color;
  opacity: 0.8;
  border-radius: 1%;
  padding:10%;
}

/*------- end login -------*/

/*----------checkin button---------------*/
.btn-checkin {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 2em;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary {
  border-color: $primary-color;
  background-color: $primary-color;
  font-family: $font-family;
}

.message {

  background-color: rgba($border-color, 0);
  color: $title-color;
  margin-top: 5%;
  border: none;
  font-size: 1.1em;
  margin-bottom: 0em;
}

/*----------end checkin button---------------*/

/*-------signup-------*/
.h1-signup {
  color: $title-color;
  text-align: center;
  margin-bottom: 50px;
  font-family: $font-family;
}

.btn-signup {
  background-color: $wild-color;
  color: $background-color;
  font-family: $font-family;
}

/*-------fin du signup-------*/

/*---------début dash board-------*/

.containerDashboardForm{
  background-image: url('../images/wild-code-school-la-loupe-116.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: contrast(50%);
}

.dashboardTitle{
  text-align: center;
  font-family: $font-family;
  font-size: 4em;
  padding-top: 1em;
  margin-bottom: 1em;
  color: $title-color;
  font-weight: 500;
}
.dashboardForm{
  margin-left: 7%;
  padding-bottom: 2em;
}

.dashboardTable{
  max-width: 100%;
  margin-top: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  text-align: center;
  color: $title-color;
  background-color: rgba($background-color,0.5);
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 2em;
  padding-top: 2em;
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-family: $font-family;
}

.dashboardLine thead th{
  border: none;
}

.table thead th{
  border-top: none;
}

.btnDashboardShow{
  background-color: $wild-color;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 4%;
  color:$title-color
}

.btnDashboardShow:hover{
  color: $title-color;
  background-color: $background-color;
  text-decoration: none;
}

.btnDashboardEdit{
  background-color: $wild-color;
  padding: 0.6em;
  border-radius: 4%;
  padding-left: 0.9em;
  padding-right: 0.9em;
  color: $title-color;
}

.btnDashboardEdit:hover{
  color: $title-color;
  background-color: $background-color;
  text-decoration: none;
}


.btnDashboardNew{
  background-color: $wild-color;
  padding: 0.6em;
  border-radius: 4%;
  padding-left: 0.9em;
  padding-right: 0.9em;
  color: $title-color;
  margin-left: 2em;
  margin-bottom: 2em;
}

.btnDashboardNew:hover{
  color: $title-color;
  background-color: $background-color;
  text-decoration: none;
}

.btnDashBoardDelete{
  background-color: $background-color;
  padding: 0.6em;
  border-radius: 4%;
  padding-left: 0.9em;
  padding-right: 0.9em;
  color: $title-color;
  margin-left: 3em;
}

.btnDashBoardDelete:hover{
  color: $title-color;
  background-color: $wild-color;
  text-decoration: none;
}

/*---------fin dash board---------*/

/*----------début message flash------*/

.alert-success{
  background-color: $cellule-background-color;
  color: $succes-message;
  font-family: $font-family;
  text-align: center;
  font-size: 1.5em;
  margin-left: 22.5%;
  margin-right: 25.8%;
  max-width: 60em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.alert-danger {
  background-color: $cellule-background-color;
  color: $wild-color;
  font-family: $font-family;
  text-align: center;
  font-size: 1.5em;
  margin-left: 22.5%;
  margin-right: 25.8%;
  max-width: 60em;
  margin-bottom: 1em;
  margin-top: 1em;
}

/*--------------fin message flash------------*/
