<footer>
    <div class="footer">
        <p>Made with <span class="heart">❤</span> by <a class="a-footer" target="_blank"
                                                        href="https://odyssey.wildcodeschool.com/?locale=fr"> Wild Code
                School</a>
            <small><a class="a-footer" href="https://odyssey.wildcodeschool.com/mentions-legales?locale=fr">CGU</a>
            </small>
            <a class="a-footer" href="https://odyssey.wildcodeschool.com/utilisation-des-cookies?locale=fr">cookies</a>
            © 2019 - v 2.2.2
        </p>
    </div>
</footer>