{% extends 'layoutUser.html.twig' %}

{% block title %}Students Manager{% endblock %}

{% block body %}

    <div class="container">
        <div class="body-checking"></div>
        <div class="today">
            <div class="today-piece top day"></div>
            <div class="today-piece middle date"></div>
            <div class="today-piece middle month"></div>
            <div class="today-piece bottom year"></div>
        </div>
    </div>
    <div class="container">
        <div><span id="heure" class="hour"></span></div>
    </div>
{% endblock %}
