{% extends 'layoutUser.html.twig' %}

{% block title %}Students Manager{% endblock %}

{% block body %}
    <div class ="container">
        <div class="today">
            <div class="today-piece top day"></div>
            <div class="today-piece  middle  month"></div>
            <div class="today-piece  middle  date"></div>
            <div class="today-piece  bot0tom  year"></div>
        </div>
    </div>
<div class = "container">
    <div>
        <div><span id="heure"></span></div>
    </div>
{% endblock %}
